<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huanghaha.treehole.mapper.CommentMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO comment (content, user_id, post_id, create_time)
        VALUES (#{content}, #{userId}, #{postId}, #{createTime})
    </insert>

    <select id="findByPostId" resultType="com.huanghaha.treehole.entity.Comment">
        SELECT * FROM comment
        WHERE post_id = #{postId}
        ORDER BY create_time ASC
    </select>

    <select id="findById" resultType="com.huanghaha.treehole.entity.Comment">
        SELECT * FROM comment
        WHERE id = #{id}
    </select>

    <delete id="deleteById">
        DELETE FROM comment WHERE id = #{id}
    </delete>

</mapper>